.game-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 2rem;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Asimovian", sans-serif;
  /* background: linear-gradient(to bottom, #f9f9f9, #ddd); */
  background-image: url("images/battle.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 98.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: white; /* fill text color */
  -webkit-text-stroke: 0.1rem rgba(255, 0, 0, 0.5); /* outline thickness + color */
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: 3rem;
  color: #ffffff; /* fill text color */
  -webkit-text-stroke: 0.1rem rgba(0, 0, 0, 0.3); /* outline thickness + color */
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 1);
}

.score-board {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap; /* allow wrapping on smaller screens */
}

.badge {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  gap: 0.5rem;
  border-radius: 0.5em;
  border: 0.2rem solid rgba(240, 163, 163, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  flex: 1;
  width: 50%;
}

.label {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1rem;
  color: white; /* fill text color */
}

#user-score,
#computer-score {
  font-size: 1.5rem;
  color: rgb(0, 0, 0); /* fill text color */
}

.choices {
  display: grid;
  grid-template-columns: 2fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

#user-input {
  padding: 0.5em;
  font-size: 1rem;
  border: 0.2rem solid rgba(54, 30, 27, 0.5);
  border-radius: 0.5em;
  text-align: center;
  width: 100%;
}

.submit {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 0.2rem solid rgba(54, 30, 27, 0.5);
  border-radius: 0.5em;
  flex-shrink: 0;
}

.submit:active {
  transform: none;
  padding: 0.5em 1em;
  border: 0.2rem solid rgba(54, 30, 27, 0.5);
}

.reset {
  margin-top: 1rem;
}

#reset {
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 0.5em;
}

#results {
  color: rgb(238, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20px;
}

#results img {
  width: 120px;
  height: 120px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#results img[src] {
  opacity: 1;
}

#winner-text {
  justify-items: center;
  font-size: 1.5rem;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0; /* prevents text from stretching*/
  max-width: 200px;
  margin: 0 auto;
  word-wrap: break-word; /* wrap long text */
}

.copyright-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: white;
}
