.game-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 2rem;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Asimovian", sans-serif;
  /* background: linear-gradient(to bottom, #f9f9f9, #ddd); */
  background-image: url("images/battle.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 98.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: white; /* fill text color */
  -webkit-text-stroke: 0.1rem rgba(255, 0, 0, 0.5); /* outline thickness + color */
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1.3rem;
  color: rgb(0, 217, 255); /* fill text color */
  -webkit-text-stroke: 0.2rem rgba(0, 0, 0, 0.5); /* outline thickness + color */
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.5);
}

p {
  font-size: 1rem;
  color: rgb(0, 255, 85); /* fill text color */
  -webkit-text-stroke: 0.2rem rgba(0, 0, 0, 0.5); /* outline thickness + color */
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.5);
}

.score-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.badge {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  gap: 0.5rem;
  border-radius: 0.5em;
  border: 0.2rem solid rgba(197, 83, 75, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  width: 50%;
}

.label {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1rem;
}

#user-score,
#computer-score {
  font-size: 1.5rem;
}

.choices {
  display: grid;
  grid-template-columns: 2fr;
  justify-content: center;
}

#user-input {
  padding: 0.5em;
  font-size: 1rem;
  border: 0.2rem solid rgba(54, 30, 27, 0.5);
  border-radius: 0.5em;
  text-align: center;
}

.submit {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 0.2rem solid rgba(54, 30, 27, 0.5);
  border-radius: 0.5em;
}

.reset {
  margin-top: 1rem;
}

#reset {
  padding: 0.5em 1em;
  font-size: 1rem;
}

#results {
  color: rgb(238, 255, 0); /* temp */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#results img {
  width: 120px;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#results img[src] {
  opacity: 1;
}

#winner-text {
  font-size: 1.2rem;
  text-align: center;
  flex-grow: 1;
}
